<div class="container">
  <div id="Thriller" class="section">
    <div class="content">
      <h1>Thriller</h1>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="Horror" class="section">
    <div class="content">
      <h1>Horror</h1>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="Fiction" class="section">
    <div class="content">
      <h1>Fiction</h1>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="Documentary" class="section">
    <div class="content">
      <h1>Documentary</h1>
    </div>
    <div class="overlay"></div>
  </div>
</div>
